html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  background-color: white;
}

#svgSvg {
  width: 4rem;
}

#svgSvg:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  body {
    height: 100%;
    width: 100%;
    padding-top: 2rem;
  }

  #headDiv {
    padding-top: 1rem;
    margin-left: 0rem;
    width: 100%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }
}

#headDiv {
  padding-top: 1rem;
  padding-bottom: 1.75rem;
  margin-left: 0rem;
}

#content {
  width: auto;
  margin: 0 auto;
  /* opacity: 0;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; */
}

.moodImg {
  opacity: 0;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fullOpac {
  opacity: 1;
}

#footer {
  background-color: white;
  border-top: 1px dashed black;
  font-size: 0.9rem;
}

.container {
  width: auto;
  height: auto;
  padding-bottom: 2rem;
}

.padtopbot {
  padding-bottom: 2.5%;
  padding-top: 2.5%;
}

.hidden {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@media screen and (max-width: 768px) {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}
