html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  background-color: white;
}

#svgSvg {
  width: 4rem;
}

#svgSvg:hover {
  opacity: 0.5;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 2rem;
}

@media screen and (max-width: 767px) {
  .container {
    width: 95%;
    height: auto;
    padding-bottom: 2rem;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .moodImg {
    opacity: 0;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    width: 90%;
  }

  #headDiv {
    position: absolute;
  }

  #overlayText {
    position: absolute;
    transform: translate(0,0);
  }
}

@media screen and (min-width: 768px) {
  #headDiv {
    padding-top: 1rem;
    margin-left: 0rem;
    width: 100%;
    position: absolute;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  .container {
    width: 80%;
    height: auto;
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  #headDiv {
    padding-top: 1rem;
    margin-left: 0rem;
    width: 100%;
    position: absolute;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    width: 80%;
    height: auto;
    padding-bottom: 2rem;
  }

  .moodImg {
    max-width: 35%;
  }
}

@media screen and (min-width: 1440px) {
  #headDiv {
    padding-top: 1rem;
    margin-left: 0rem;
    width: 100%;
    position: absolute;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    width: 80%;
    height: auto;
    padding-bottom: 2rem;
  }

  .moodImg {
    max-width: 40%;
  }
}

#headDiv {
  padding-top: 1rem;
  padding-bottom: 1.75rem;
  margin-left: 0rem;
}

#content {
  width: auto;
  margin: 0 auto;
}

.moodImg {
  opacity: 0;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fullOpac {
  opacity: 1;
}

#footer {
  background-color: rgba(255, 255, 255, 0);
  border-top: 1px dashed black;
  font-size: 0.9rem;
}

.padtopbot {
  padding-bottom: 2.5%;
  padding-top: 2.5%;
}

.hidden {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.abspos {
  position: absolute;
}

.noint {
  pointer-events: none
}

#moodtitle {
  transform: translate(0, 25px);
}
