html{
    height: 100%;
    width: 100%;
}

body {
    padding-top: 2%;
    height: 100%;
    width: 100%;
    background-color: blue;
}

p {
  font-family: "Arial", sans-serif;
  text-align: center;
}

#sketchRow {
	/*padding-bottom: 5%;*/
}


#sketchDiv {
	/*outline: 1px solid black; */
	padding-left: 0;
}

