input:focus {
    outline:none !important;
}

html {
    height: 100%;
   
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100%;
}

h1 {
    padding-top: 50px;
}

.noPic {
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    transform: translate(-30%,30%);
}

form {
    padding-bottom: 15px;
}

.title {
    padding-bottom:8%;
}
.backgroundDiv {
    font-size: 16px;
    padding: 5px 5px 5px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 7em;
    animation: boxDown 600ms;
    -webkit-box-shadow: 0 10px 6px -8px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -8px #777;
}

.userDiv {
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 100;
    font-size: 2.3em;
    height: 80%;
    width: 45%;
    margin: 10px 0px 10px 15px;
    text-align: left;
    border-left: 2px solid black;
    animation: contentsDown 600ms;
}

.twitchIconDiv {
    z-index: 110;
    -webkit-box-shadow: -25px 0px 10px white;
    -moz-box-shadow: -25px 0px 10px white;
    box-shadow: -25px 0px 10px white;
    height: 80%;
    margin: 10px 0px 10px 0px;
    justify-content: center;
    animation: contentsDown 600ms;
}

#twitchIcon:hover {
    animation: hover 300ms;
}

.fade {
    opacity: .4;
}

.noPic {
    transform: translate(-23%, 32%);
    height: 50%;
    width: 50%;
    background-color: black;
    border-radius: 50%;
}

#profPic {
    border-radius: 50%;
    transform: translate(-19%, 30%);
    
}
#twitchIcon {
    height: 70%;
    transform: translate(-30%,20%);   
}

.indicator {
    height:80%;

    margin: 10px 0px 10px 0px;
    animation: contentsDown 600ms;
}

#profPicDiv {
    height:80%;
    min-width: 100%
    margin: 10px 0px 10px 10px;
    animation: contentsDown 600ms;
}

#userText {
    transform:translateY(32%);  
}

#status {
    font-size: 20px;
    transform: translate(-25%,95%);
}

@keyframes boxDown {
    0% {
        transform: translateY(-50%);
        opacity: 0;
        
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        
    }
}

@keyframes contentsDown {
    0% {
        transform: translateY(-25%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
        
    }
}

@keyframes hover {
    0% {
        transform: translate(-30%,20%);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate(-30%,0%);
    }
}