html,body {
    height: 100%;
    width: 100%;
    padding-top: 2%;
}

p {
  font-family: "Arial", sans-serif;
  text-align: center;
}

#inputBox {
  margin: 0 auto;
  max-width: 40%;
  height: 30%;
  background-color: #ddd;
  border-radius: 3px;
}

#letter {
    height: 100%;
    width: 100%;
}


#sketch {
  padding-left: 0;
}